# Cache and logs (Symfony2)
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
app/config/parameters_*.yml
app/config/parameters.yml

# Managed by Composer
app/bootstrap.php.cache
bin/*
!bin/console
!bin/symfony_requirements
vendor/

# Assets and user uploads
web/bundles/
web/uploads/
web/assetic/

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
composer.phar

# OS garbage, Editors, IDEs, etc
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
.coverage
nbproject
.nbproject
build
.build
.settings
.settings/.*
.project
project
*.project
.buildpath
*.db
*.tmproj
*.sublime-project
.idea
*.idea/*

# Extra
data/*
vagrant
.vagrant/*
deploy.sh
tests/selenium/config.php
tests/selenium/*.log
